
{{ include('page/layouts/header.html.twig') }}
{% block body %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Liste des dormation sanitaire</h5>
        <button>
            <a class="btn btn-default btn-outline sbold" href="{{ path('app_create')  }}" >
                <i class="fa fa-plus"></i> Ajouter</a>
        </button>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Address</th>
                    <th>Coordonner</th>
                    <th>service offert</th>
                    <th>commune</th>
                    <th>agent service</th>
                    <th span="3">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for formations in formation %}
                <tr>
                    {# <td>{{ formations.id }}</td> #}
                    <td>{{ formations.getNomFS }}</td>
                    <td>{{ formations.getTypyFS }}</td>
                    <td>{{ formations.getAdressFS }}</td>
                    <td>{{ formations.getCoordonnerFS }}</td>
                    <td>{{ formations.serv.libelleOffre }}</td>
                    <td>{{ formations.agentService.typeS }}</td>
                    <td>{{ formations.commune.libelleCommune }}</td>
                    <td>
                        <a class="btn btn-success btn-outline sbold" href="{{path('app_show_formation',{id : formations.id} )}}">
                            <i class="fa fa-edit"></i> Modifier</a>
                        <a class="btn btn-danger btn-outline sbold"  href="{{path('app_delete',{id:formations.id})}}">
                            <i class="fa fa-delete"></i> Supprimer</a>
                            <a class="btn btn-info btn-outline sbold"  href="{{path('app_delete',{id:formations.id})}}">
                        <i class="fa fa-book"></i> Detail</a>
                    </td>
                    {% else %}
                    <p>pas de formation</p>
                    {% endfor %}
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    {# <th>Id</th> #}
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Address</th>
                    <th>Coordonner</th>
                    <th>service offert</th>
                    <th>commune</th>
                    <th>agent service</th>
                    <th span="3">Action</th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
{% endblock %}
</main>
{{ include('page/layouts/footer.html.twig') }}
  